<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Reagent Plaform - Tables</title>

    <!-- Custom fonts for this template -->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet" />

    <!-- Custom styles for this page -->
    <link
      href="vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
    <script src="javascripts/index_function.js"></script>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <form
          class="sidebar-brand d-flex align-items-center justify-content-center"
          action="/"
          method="GET"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <button class="btn btn-primary">Reagent Platform</button>
        </form>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Heading -->
        <div class="sidebar-heading">Main</div>

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <form class="nav-link" action="/" method="GET">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <button class="btn btn-primary">Main Page</button>
          </form>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">Contents</div>

        <!-- Nav Item - Tables -->
        <li class="nav-item active">
          <form class="nav-link" action="/tables" method="GET">
            <i class="fas fa-fw fa-table"></i>
            <button class="btn btn-primary">Tables</button>
          </form>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item active">
          <form class="nav-link" action="/charts" method="GET">
            <i class="fas fa-fw fa-chart-area"></i>
            <button class="btn btn-primary">Charts</button>
          </form>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="
              navbar navbar-expand navbar-light
              bg-white
              topbar
              mb-4
              static-top
              shadow
            "
          >
            <!-- Sidebar Toggle (Topbar) -->
            <form class="form-inline">
              <button
                id="sidebarToggleTop"
                class="btn btn-link d-md-none rounded-circle mr-3"
              >
                <i class="fa fa-bars"></i>
              </button>
            </form>

            <!-- Topbar Search -->
            <form
              class="
                d-none d-sm-inline-block
                form-inline
                mr-auto
                ml-md-3
                my-2 my-md-0
                mw-100
                navbar-search
              "
            >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control bg-light border-0 small"
                  placeholder="Search for..."
                  aria-label="Search"
                  aria-describedby="basic-addon2"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="searchDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div
                  class="
                    dropdown-menu dropdown-menu-right
                    p-3
                    shadow
                    animated--grow-in
                  "
                  aria-labelledby="searchDropdown"
                >
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control bg-light border-0 small"
                        placeholder="Search for..."
                        aria-label="Search"
                        aria-describedby="basic-addon2"
                      />
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>

              <div class="topbar-divider d-none d-sm-block"></div>

               <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                    ><%= %></span
                  >
                  <img
                    class="img-profile rounded-circle"
                    src="images/undraw_profile_2.svg"
                  />
                </a>
                <!-- Dropdown - User Information -->
                <div
                  class="
                    dropdown-menu dropdown-menu-right
                    shadow
                    animated--grow-in
                  "
                  aria-labelledby="userDropdown"
                >
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item"
                    href="#"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Reagent Tables</h1>
            <p class="mb-4">여러분들의 시약 정보를 Table에서 확인하세요!</p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Reagent Information
                </h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>reagentName</th>
                        <th>casNo</th>
                        <th>formula</th>
                        <th>molecularWeight</th>
                        <th>meltingpoint</th>
                        <th>boilingpoint</th>
                        <th>density</th>
                        <th>NFPA Graph</th>
                        <th>Material Safety</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>reagentName</th>
                        <th>casNo</th>
                        <th>formula</th>
                        <th>molecularWeight</th>
                        <th>meltingpoint</th>
                        <th>boilingpoint</th>
                        <th>density</th>
                        <th>NFPA Graph</th>
                        <th>Material Safety</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <% for (var i=0; i < data.length; i++) { %>
                      <tr>
                        <td><%=data[i].reagentName %></td>
                        <td><%=data[i].casNo %></td>
                        <td><%=data[i].formula %></td>
                        <td><%=data[i].molecularWeight %></td>
                        <td><%=data[i].meltingpoint %></td>
                        <td><%=data[i].boilingpoint %></td>
                        <td><%=data[i].density %></td>
                        <% if (data[i].MaterialSafety != null) { %>
                          <td class="text-center">
                            <button
                              class="btn btn-warning btn-circle btn-sm"
                              data-toggle="modal"
                              data-target="#modalChart"
                              data-source="<%= data[i].MaterialSafety.NFPAHealthNum %>,<%= data[i].MaterialSafety.NFPAFireNum %>,<%= data[i].MaterialSafety.NFPAReactionNum %>"                          >
                              <i class="fas fa-exclamation-triangle"></i>
                            </button>
                          </td>
                          <td class="text-center">
                            <button
                              class="btn btn-info btn-circle btn-sm"
                              data-toggle="modal"
                              data-target="#modal-edit-user-<%= data[i].casNo %>"
                              data-source="<%= data[i].MaterialSafety.NFPAHealthNum %>,<%= data[i].MaterialSafety.NFPAFireNum %>,<%= data[i].MaterialSafety.NFPAReactionNum %>"                          >
                              <i class="fas fa-exclamation-circle"></i>
                            </button>
                          </td>
                        <% } else { %>
                          <td></td>
                          <td></td>
                        <% } %>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                  <% for (var i=0; i < data.length; i++) { %>
                    <% if (data[i].MaterialSafety != null) { %>
                      <div class="modal fade bd-example-modal-lg" id="modal-edit-user-<%= data[i].casNo %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"> <!-- ✅ unique id for each modal -->
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title" id="myModalLabel"> <%=data[i].reagentName%> 의 유해성</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                              
                              <!-- content -->
                              <div class="container-fluid">
                                <h5>NFPA</h5>
                                <hr />
                                <div class="text-center">
                                  <img class="img-fluid" src="images/NFPA.jpg" />
                                </div>
                                <hr />
                                <div class="row">
                                  <div class="card shadow mb-4">
                                    <!-- Card Header - Accordion -->
                                    <a
                                      href="#collapseCardExample"
                                      class="d-block card-header py-3"
                                      data-toggle="collapse"
                                      role="button"
                                      aria-expanded="true"
                                      aria-controls="collapseCardExample"
                                    >
                                      <h6 class="m-0 font-weight-bold text-primary">
                                        NFPA 란?
                                      </h6>
                                    </a>
                                    <!-- Card Content - Collapse -->
                                    <div class="collapse" id="collapseCardExample">
                                      <div class="card-body">
                                        NFPA 704는 미국화재예방협회(National Fire Protection Association, NFPA)에서 발표한 규격의 일종입니다. 
                                        NFPA는 응급 상황에서 위험 물질에 대해 신속한 대응을 하기 위해 만들어진 소위 "fire diamond"로 표현됩니다. 
                                        이 규격은 응급상황 발생시, 만약 필요하다면 어떤 장비가 요구되는지, 어떤 처리절차가 필요한지, 혹은 어떠한 대책을 취해야할지를 결정하는 데 도움을 줍니다.
                                      자세한 정보를 알고 싶다면, <a href="https://ko.wikipedia.org/wiki/NFPA_704"> 여기 </a>를 클릭해주세요!
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-6">
                                    <!-- Basic Card Example -->
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          위해성 수치
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.NFPAHealth) %>
                                      </div>
                                    </div>
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          인화성 수치
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.NFPAFire) %>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          반응성 수치
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.NFPAReaction) %>
                                      </div>
                                    </div>
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          기타
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.NFPASpecial) %>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <h5>인체 유해성</h5>
                                <hr />
                                <div class="row">
                                  <div class="col-lg-6">
                                    <!-- Basic Card Example -->
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          일반 유해성
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.humNormal) %>
                                      </div>
                                    </div>
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          호흡기 유해성
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.humInhale) %>
                                      </div>
                                    </div>
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          구강 유해성
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.humMouth) %>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          피부 유해성
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.humSkin) %>
                                      </div>
                                    </div>
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          안구 유해성
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.humEye) %>
                                      </div>
                                    </div>
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          부가적인 유해성
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.humEtc) %>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <h5>유해성 조치</h5>
                                <hr />
                                <div class="row">
                                  <div class="col-lg-6">
                                    <!-- Basic Card Example -->
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          호흡기 유해성 대처
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.emeInhale) %>
                                      </div>
                                    </div>
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          피부 유해성 대처
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.emeSkin) %>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          안구 유해성 대처
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.emeEye) %>
                                      </div>
                                    </div>
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          구강 유해성 대처
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.emeMouth) %>
                                      </div>
                                    </div>
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          부가적인 유해성 대처
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.emeEtc) %>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <h5>유해성 후처리</h5>
                                <hr />
                                <div class="row">
                                  <div class="col-lg-6">
                                    <!-- Basic Card Example -->
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          유출 시 후처리
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.accLeakage) %>
                                      </div>
                                    </div>
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          인화성 물질 후처리
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.accFire) %>
                                      </div>
                                    </div>
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          취급 후 후처리
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.treTreatcaution) %>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          보관 방법
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.treStorage) %>
                                      </div>
                                    </div>
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                          폐기 처리 방법
                                        </h6>
                                      </div>
                                      <div class="card-body">
                                        <%= JSON.stringify(data[i].MaterialSafety.treDisposal) %>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
                              <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% } %>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2020</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="modalChart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Radar Chart</h4>
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <canvas id="chart" width="568" height="300"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <form action="/" method="GET">
              <button class="btn btn-primary">Logout</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="javascripts/sb-admin-2.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="javascripts/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="javascripts/data_visualization/datatables-demo.js"></script>
    <script src="javascripts/index_function.js"></script>
  </body>
</html>
